@charset "UTF-8";
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("../font/SpoqaHanSansNeo-Light.woff") format("woff");
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: "Spoqa Han Sans Neo";
src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
font-weight: 700;
font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spoqa Han Sans Neo";
}
ul,
li,
ol {
    list-style: none;
}
a, a:link, a:hover {
    color: #222;
    text-decoration: none;
}
section {
    margin: 0 auto;
    max-width: 1440px;
}
/*메인 게시글 공통*/
.mainBoardWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}
.borderWrap {
    width: 100%;
}
.borderWrap .borderTtBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
}
.borderWrap .borderTtBox h3 {
    font-size: 21px;
}
.borderWrap .borderDate {
    font-size: 16px;
    color: #666;
}
/*메인 - 공지사항*/
.noticeBox {
}
.noticeBox li {
    padding: 10px 0;
}
.noticeBox ul {
    display: flex;
    justify-content: space-between;
}
/*메인 - 채용공고*/
.recruitBox {
}
.recruitBox ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
}
.recruitBox ul li.data {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 5px 0;
}
.recruitBox ul li span.recruitHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    padding: 10px 2px;
    border-radius: 3px;
    background: orange;
}
.recruitBox .borderDate {
    margin-left: calc(30px + 60px);
}
.viewTb {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
.viewTb tr:first-child {
    border-top: solid 3px #222;
}
.viewTb th,
.viewTb td {
    padding: 10px;
    border: solid 1px #eee;
}
/* main_style.css에 추가할 스타일 */

.layerPopup {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    min-width: 150px;
    border-radius: 4px;
    /* 화면 가로 중앙에 배치하기 위한 설정 */
    left: 50%;
    transform: translateX(-50%);
}

/* IBSheet와 함께 사용할 경우의 추가 스타일 */
#layerPopup:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px; /* 화살표 중앙 정렬 */
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
/*report style*/
.reportWrap {
    width: 100%;
    margin-bottom: 70px;
    margin-top: 70px;
}
.reportWrap h3 {
    position: relative;
    margin: 70px 0 16px 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color : #26447D !important;
}
.reportWrap h3 span {
    position: relative;
    width: fit-content;
}
.reportWrap h3 span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 17px;
    bottom: 0;
    left: 0;
    background: #d4eafd;
    z-index: -2;
}
.graphWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px !important;
}
.graphWrap h4 {
    height: auto;
    padding: 10px 0 0 0;
    margin:0;
    font-size: 1.3rem !important;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color : #26447D !important;
}
.graphWrap h4::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background:  #0b53a2 !important;
}
.graphWrap div ul {
    min-width: 272px;
}
.graphWrap div ul li {
    text-align: left;
    font-size: 1.1rem !important;
    color : #4D4D4D;
}
.graphWrap .e-txt {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.graphWrap div ul li.graphTt {
    padding: 10px 0;
    font-size: 1.1rem !important;
    font-weight: 500;
    color : #3b63c4;
}
.graphGrid1 {
    width: calc(20% - 20px);
    flex-grow: 1;
}
.graphGrid1 ul .imgBox,.graphGrid2 ul .imgBox  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.graphGrid2 {
    display: flex;
    gap: 20px;
    flex-grow: 2;
}
.imgBox img {
    width: 100%;
    max-width: 272px;
    vertical-align: top;
}
@media (max-width:1336px) {
    .graphWrap {
        flex-direction: column;
        gap : 40px;
    }
    .graphGrid1 {
        width: 100%;
    }
    .graphGrid1 > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .imgBox img {
        min-width: 288px;
    }
    .graphWrap div.graphGrid1 ul li {
        text-align: left;
    }
    .mo_txtGap {display: none;}
    .graphWrap h4 br {
        display: none;
    }
}
@media (max-width: 768px) {
    .reportWrap h3 span::after {
        display: none;
    }    
    .graphWrap {
        gap : 60px;
    }
    .graphGrid1 > ul, .graphGrid2 > ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .graphGrid2 {
        flex-direction: column;
        gap: 60px;
    }
    .imgBox img {
        min-width: 100% !important;
        max-width: 100% !important;
    }
}
/* report style
.reportWrap {
    width: 100%;
    margin-bottom: 70px;
}
.reportWrap h3 {
    position: relative;
    margin: 70px 0 16px 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color : #26447D !important;
}
.reportWrap h3 span {
    position: relative;
    width: fit-content;
}
.reportWrap h3 span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 17px;
    bottom: 0;
    left: 0;
    background: #d4eafd;
    z-index: -2;
}
.graphWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.graphWrap h4 {
    height: auto;
    padding: 10px 0 0 0;
    margin:0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color : #26447D !important;
}
.graphWrap h4::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background:  #0b53a2 !important;
}
.graphWrap div ul {
    min-width: calc(288px - 20px);
}
.graphWrap div ul li {
    text-align: center;
    font-size: 18px;
    color : #4D4D4D;
}
.graphWrap div ul li.graphStt {
    font-size: 1rem;
    font-weight: 500;
}
.graphWrap div ul li.graphTt {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color : #3b63c4;
}
.graphGrid1 {
    width: calc(20% - 20px);
    flex-grow: 1;
}
.graphGrid2 {
    display: flex;
    gap: 20px;
    flex-grow: 2;
}
.imgBox img {
    width: 100%;
}
@media (max-width:1336px) {
    .graphWrap {
        flex-direction: column;
        gap : 40px;
    }
    .graphGrid1 {
        width: 100%;
    }
    .graphGrid1 > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .imgBox img {
        min-width: 288px;
    }
    .graphWrap div ul li {
        font-size: 18px;
    }
    .graphWrap div.graphGrid1 ul li {
        text-align: left;
    }
}
@media (max-width: 768px) {
    .graphWrap {
        gap : 60px;
    }
    .graphGrid1 > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .graphWrap div.graphGrid1 ul li {
        text-align: center;
    }
    .graphGrid2 {
        flex-direction: column;
        gap: 60px;
    }
    .imgBox img {
        min-width: 100% !important;
    }
} */
@media (max-width: 768px) {
    /*메인 게시글 공통*/
    .mainBoardWrap {
        flex-wrap: wrap;
        gap: 50px;
    }
}
/*경제연구원용*/
button {
    border: 0;
    background: none;
    cursor: pointer;
}
.ognztn {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 16px 16px 0px 0px;
    background: #fafafa;
    box-sizing: border-box;
}
.ognztn ol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
}
.ognztn ol::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top:20%;
    width: 1px;
    height: calc(50% + 42px);
    background: #89A1DC;
    z-index: 0;
}
.ognztn .lv1 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background: #2f4f90;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 1;
}
.ognztn .lv2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: #3B63C4;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1.25rem;
    z-index: 1;
}
.ognztn .row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    gap: 0 8px;
}
.ognztn .row ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 40px;
    gap: 0 8px;
    flex: 1;
    z-index: 1;
}
.ognztn .row ul li {
    position: relative;
    /* flex:1; */
    width: 20%;
    min-width: 176px;
}
.ognztn .row ul li::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top:-80%;
    width: calc(100% + 8px);
    height: 1px;
    transform: translateX(-50%);
    background: #89A1DC;
    z-index: 0;
}
.ognztn .row ul li:first-child:before {
    width: 100%;
    left: 100%;
}
.ognztn .row ul li:last-child:before {
    width: 100%;
    left: 0;
}
.ognztn ul li button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    line-height: 1.1;
    font-size: 1rem;
    gap:0 8px;
    text-align: center;
    border: 2px solid #3863c4;
    color: #2f4f90;
    background: #F2F6FA;
    border-radius: 8px;
    z-index: 1;
}
.ognztn .row ul li button::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top:-90%;
    width: 1px;
    height: calc(88% - 1px);
    background: #89A1DC;
    z-index: 0;
}
.ico-right-bl {
    display: inline-block;
    vertical-align: middle;
    background: url("/static/imer/img/sprite.png");
    background-position: -368px -120px;
    width: 20px;
    height: 20px;
}
@media (max-width: 1280px) {
    .ognztn ol::before {
        height: 37.8%;
    }
    .ognztn .row ul {
        flex-wrap: wrap !important;
        gap: 8px 0;
        margin-top: 20px;
    }
    .ognztn .row ul li {
        width: calc(50% - 8px);
        min-width: auto;
    }
    .ognztn .row ul li::before {
        top:-50%;
    }
    .ognztn .row ul li:nth-child(1):before{
        width: calc(100% + 17px);
        left: 50%;
    }
    .ognztn .row ul li:nth-child(5):before{
        width: calc(100% + 17px);
        left: 50%;
    }
    .ognztn .row ul li:nth-child(2):before,
    .ognztn .row ul li:nth-child(3):before,
    .ognztn .row ul li:nth-child(4):before,
    .ognztn .row ul li:nth-child(6):before,
    .ognztn .row ul li:nth-child(7):before,
    .ognztn .row ul li:nth-child(8):before{
        display: none;
    }
    .ognztn .row ul li button:before {
        top: -50%;
        left: -10px;
        height: calc(100% + 50px);
        transform: translateY(-50%);
    }
    .ognztn .row ul li:nth-child(5) button:before,
    .ognztn .row ul li:nth-child(6) button:before,
    .ognztn .row ul li:nth-child(7) button:before,
    .ognztn .row ul li:nth-child(8) button:before {
        left: calc(100% + 10px);
    }
    .ognztn .row ul li:nth-child(1) button:before,
    .ognztn .row ul li:nth-child(5) button:before {
        top: 0%;
        height: calc(100% + 8px);
    }
    .ognztn .row ul li button::after {
        content: "";
        display: block;
        position: absolute;
        left: -10px;
        top:50%;
        width: 10px;
        height: 1px;
        transform: translateY(-50%);
        background: #89A1DC;
        z-index: 0; 
    }
    .ognztn .row ul li:nth-child(5) button:after,
    .ognztn .row ul li:nth-child(6) button:after,
    .ognztn .row ul li:nth-child(7) button:after,
    .ognztn .row ul li:nth-child(8) button:after {
        left: 100%;
    }
    .ognztn .row ul li:nth-child(1) {
        order: -1;
    }
    .ognztn .row ul li:nth-child(2) {
        order: 1;
    }
    .ognztn .row ul li:nth-child(3) {
        order: 3;
    }
    .ognztn .row ul li:nth-child(4) {
        order: 5;
    }
    .ognztn .row ul li:nth-child(5) {
        order: 0;
    }
    .ognztn .row ul li:nth-child(6) {
        order: 2;
    }
    .ognztn .row ul li:nth-child(7) {
        order: 4;
    }
    .ognztn .row ul li:nth-child(8) {
        order: 6;
    }
}
@media (max-width: 375px) {
    .ognztn ol::before {
        height: 24.8%;
    }
    .ognztn .row ul {
        margin-top: 20px;
    }
    .ognztn .row ul li {
        width: 100%;
    }
    .ognztn .row ul li:nth-child(1):before {
        width: calc(50% + 8px);
        left: -8px;
        transform: translateX(0);
    }
    .ognztn .row ul li:nth-child(5):before {
        display: none;
    }
    .ognztn .row ul li:nth-child(5) button:before {
        top: 0%;
        height: calc(100% + 36px);
    }
    .ognztn .row ul li:nth-child(3) button:before,
    .ognztn .row ul li:nth-child(5) button:before,
    .ognztn .row ul li:nth-child(6) button:before,
    .ognztn .row ul li:nth-child(7) button:before,
    .ognztn .row ul li:nth-child(8) button:before {
        left: -10px;
    }
    .ognztn .row ul li:nth-child(5) button:after,
    .ognztn .row ul li:nth-child(6) button:after,
    .ognztn .row ul li:nth-child(7) button:after,
    .ognztn .row ul li:nth-child(8) button:after {
        left: -10px;
    }
    .ognztn .row ul li {
        order: 1 !important;
    }
}
/*버튼*/
.btnType1 {
    padding: 10px 20px;
    background: #26447D;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1rem;
}