<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main_style.css" />
    <title>Document</title>
</head>
<body>
    <section>
        <div class="mainBoardWrap">
            <div class="reportWrap">
                <h3>한 눈에 보는 통화신용정책보고서</h3>
                <h3><span>한 눈에 보는 통화신용정책보고서</span></h3>
                <div class="graphWrap">
                    <div class="graphGrid1">
                        <h4>통화신용정책 운영</h4>
                        <ul>
                            <li class="imgBox"><a href="" target="_blank"><img src="../images/testImg01.png"></a></li>
                            <li>
                                <ul>
                                    <li class="graphTt">통화신용정책 운영</li>
                                    <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>통화신용정책 운영 여건</h4>
                        <div class="graphGrid2">
                            <ul>
                                <li class="graphStt"><경제성장률></li>
                                <li class="imgBox"><a href="" target="_blank"><img src="../images/testImg01.png"></a></li>
                                <li>
                                    <ul>
                                        <li class="graphTt">통화신용정책 운영</li>
                                        <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="graphStt"><물가성장률></li>
                                <li class="imgBox"><a href="" target="_blank"><img src="../images/testImg01.png"></a></li>
                                <li>
                                    <ul>
                                        <li class="graphTt">통화신용정책 운영</li>
                                        <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                    </ul>
                                </li>                            </ul>
                            <ul>
                                <li class="graphStt"><은행 가계대출></li>
                                <li class="imgBox"><a href="" target="_blank"><img src="../images/testImg01.png"></a></li>
                                <li>
                                    <ul>
                                        <li class="graphTt">통화신용정책 운영</li>
                                        <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="graphGrid1">
                        <h4>향후 통화신용정책 방향</h4>
                        <ul>
                            <li class="imgBox"><a href="" target="_blank"><img src="../images/testImg02.png"></a></li>
                            <li>
                                <ul>
                                    <li class="graphTt">통화신용정책 운영</li>
                                    <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>