<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main_style.css" />
    <title>Document</title>
</head>
<body>
    <section>
        <div class="mainBoardWrap">
            <div class="reportWrap">
                <h3>한 눈에 보는 통화신용정책보고서</h3>
                <h3><span>한 눈에 보는 통화신용정책보고서</span></h3>
                <div class="graphWrap">
                    <div class="graphGrid1">
                        <h4>통화신용정책 운영</h4>
                        <ul>
                            <li class="imgBox">
                                <span class="e-txt"><한국은행 기준금리></span>
                                <a href="" target="_blank"><img src="https://wwwtest.bok.or.kr/crosseditor/attachs/images/000002/20250218170151882_0YOTFRUR.png"></a>
                            </li>
                            <li>
                                <ul>
                                    <li class="graphTt">기준금리를 연 3.5%에서 유지</li>
                                    <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>통화신용정책 운영 여건</h4>
                        <div class="graphGrid2">
                            <ul>
                                <li class="imgBox">
                                    <span class="e-txt"><경제성장률></span>
                                    <a href="" target="_blank"><img src="https://wwwtest.bok.or.kr/crosseditor/attachs/images/000002/20250218170151882_GEBP655D.png"></a>
                                </li>
                                <li>
                                    <ul>
                                        <li class="graphTt">국내경제는 완만한성장세 전망</li>
                                        <li>수출이 호조를 지속하고 있지만 내수가 예상보다 더디게 회복되고 있다.<br/><br/>

                                            앞으로는 내수가 회복되면서 완만한 성장세를 이어갈 전망이다.</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li class="imgBox">
                                    <span class="e-txt"><물가성장률></span>
                                    <a href="" target="_blank"><img src="https://wwwtest.bok.or.kr/crosseditor/attachs/images/000002/20250218170151891_EG0APMDW.png"></a>
                                </li>
                                <li>
                                    <ul>
                                        <li class="graphTt">물가는 둔화 추세를 지속</li>
                                        <li>물가상승률이 둔화 추세를 이어가면서 8월 중 2.0%로 낮아졌다.<br/><br/>

                                            앞으로도 물가는 낮은 수요 압력 등으로 안정된 흐름을 이어갈 전망이다.</li>
                                    </ul>
                                </li>                           
                            </ul>
                            <ul>
                                <li class="imgBox">
                                    <span class="e-txt"><은행 가계대출></span>
                                    <a href="" target="_blank"><img src="https://wwwtest.bok.or.kr/crosseditor/attachs/images/000002/20250218170151885_5N9ICE0S.png"></a>
                                </li>
                                <li>
                                    <ul>
                                        <li class="graphTt">가계대출 증가세가 확대</li>
                                        <li>수도권 주택가격 상승세와 가계대출 증가세가 확대되었다.<br/><br/>

                                            앞으로 가계대출 불안요인을 면밀히 점검해 나갈 필요가 있다.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="graphGrid1">
                        <h4>향후 통화신용정책 방향</h4>
                        <ul>
                            <li class="imgBox">
                                <span class="e-txt mo_txtGap">&nbsp;</span>
                                <a href="" target="_blank"><img src="https://wwwtest.bok.or.kr/crosseditor/attachs/images/000002/20250218170151903_CP1F3JJ1.png"></a>
                            </li>
                            <li>
                                <ul>
                                    <li class="graphTt">통화신용정책 운영</li>
                                    <li>물가의 목표 수렴에 대한 확신이 커진 가운데 성장세가 완만히 개선될 것으로 예상되지만 금융안정 측면의 리스크를 좀 더 점검해 볼 필요가 있는 만큼 현재의 긴축 기조를 유지하는 것이 적절하다고 판단하였다.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>