<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main_style.css" />
</head>
<body>
    <section>
        <div class="mainBoardWrap">
            <div class="ognztn">
                <ol>
                    <li><button class="partEr"><span class="lv1">원장</span></button></li>
                    <li><button class="partEr"><span class="lv2">부원장</span></button></li>
                    <li class="row">
                        <ul>
                            <li><button class="partRa">연구조정실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">금융통화연구실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">국제경제연구실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">거시경제연구실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">미시제도연구실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">북한경제연구실<i class="ico-right-bl"></i></button></button></li>
                            <li><button class="partRa">인구노동연구실<i class="ico-right-bl"></i></button></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </section>
</body>
</html>